<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MVC Test Application</title>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <link href="~/Content/Site.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <span class="sr-only">Toggle navigation</span>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

                    @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">*@
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("MVC TEST APPLICATION", "Start", "Test", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>

            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Test/Start">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Services <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" id="myTab">
                            <li role="presentation">
                                <a href="#music" aria-controls="music" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-music"> </span> Music & Dance</a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation">
                                <a href="#training" aria-controls="training" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-book"> </span> Summar Training</a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation">
                                <a href="#website" aria-controls="website" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-cloud"> </span> Website Building</a>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Career</a>
                    </li>
                </ul>

                @*<form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>*@

                <ul class="nav navbar-nav navbar-right">

                    @if (Session["userId"] != null)
                    {
                        <li>
                            <a href="#">Welcome @Session["userName"] :)</a>
                        </li>

                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Logout</a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Test/Logout"><span class="glyphicon glyphicon-log-out"> </span> Logout</a>
                                </li>
                            </ul>

                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Login", "Login", "Test")
                        </li>
                        <li>
                            @Html.ActionLink("Registration", "Registration", "Test")
                        </li>
                    }


                </ul>


                @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "", "")</li>
                        <li>@Html.ActionLink("About", "", "")</li>
                        <li>@Html.ActionLink("Contact", "", "")</li>
                    </ul>*@



            </div>
        </div>
    </div>

    <div class="container body-content">

        @RenderBody()

    </div>

    <div style="background-color: #000000; color: gainsboro; left: 0px; right: 0px; bottom: 0px; margin-bottom: 0px; margin-top: 30px">

        <div class="col-lg-4" style="margin-left: 90px">

            <h3><span class="glyphicon glyphicon-map-marker"></span> Address</h3>
            <ul class="list-group list-unstyled">

                <li>Technology World-bd Ltd.</li>
                <li>Gazipur Industrial Area</li>
                <li>Phase-2,Gazipur road 1207</li>
            </ul>
        </div>

        <div class="col-lg-4">

            <h3><span class="glyphicon glyphicon-cog"></span> Our Services</h3>
            <ul class="list-group list-unstyled">

                <li>
                    <span class="glyphicon glyphicon-music"></span> <a href="#">Musical & Dance Traning</a>
                </li>
                <li>
                    <span class="glyphicon glyphicon-book"></span> <a href="#">Training in Asp.Net,Java,android etc.</a>
                </li>
                <li>
                    <span class="glyphicon glyphicon-globe"></span> <a href="#">Web designing -corporate & Domestic</a>
                </li>

            </ul>
        </div>

        <div class="col-lg-3">

            <h3><span class="glyphicon glyphicon-briefcase"></span> Career</h3>
            <ul class="list-group list-unstyled">

                <li>
                    <span class="glyphicon glyphicon-music"></span> <a href="#">Musical & Dance</a>
                </li>
                <li>
                    <span class="glyphicon glyphicon-book"></span> <a href="#">Summar training</a>
                </li>
                <li>
                    <span class="glyphicon glyphicon-globe"></span> <a href="#">Website Designing</a>
                </li>

            </ul>
        </div>

        <div style="clear: both"></div>

    </div>


    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
